* {
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.Container {
  width: 100vw;
  max-width: 2200px;
  height: 2000px;
  background-color: #ddd;
}

.notification {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  background-color: rgb(80, 165, 239);
  color: rgb(255, 255, 255);
}

.header {
  height: 80px;
  background-color: #ffffff;
  ;
}

.fa-book {
  font-size: 40px;
  color: rgb(29, 90, 143);
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: rgb(29, 90, 143);
  font-style: italic;
}

.input {
  width: 70%;
  height: 60%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  color: rgb(29, 90, 143);
  font-style: italic;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(29, 90, 143);
}

.glass {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60%;
  color: rgb(0, 0, 0);
  background-color: rgb(105, 162, 211);
  margin-left: 5px;
}

.fa-search {
  font-size: 30px;
}

.iconNoti {
  width: 50px;
  color: rgb(10, 57, 98);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.fa-bell {
  font-size: 25px;
}

.textBell {
  font-size: 10px;
}

.iconCart {
  width: 50px;
  color: rgb(10, 57, 98);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textCart {
  font-size: 10px;
}

.fa-shopping-cart {
  font-size: 25px;
}

.iconUser {
  width: 50px;
  color: rgb(10, 57, 98);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.textUser {
  font-size: 10px;
}

.fa-user {
  font-size: 25px;
}

.grid-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 30% 58% 12%;
}

.grid-item-logo {
  display: flex;
  align-items: center;
  text-align: center;
}

.grid-item-search {
  justify-content: start;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 40px;
}

.grid-item-icon {
  display: flex;
  justify-content: end;
  text-align: center;
  padding-right: 20px;
}

.option {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #5f7485;
  position: relative;
}

.grid-option {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-product {
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.item-intro {
  color: white;
  font-weight: bold;
}

.item-review {
  color: white;
  font-weight: bold;
}

.item-news {
  color: white;
  font-weight: bold;
}

.item-colab {
  color: white;
  font-weight: bold;
}

.item-lookUp {
  color: white;
  font-weight: bold;
}

.fa-bars {
  margin-right: 5px;
}

.poster {
  width: 100%;
  height: 570px;
  background-color: #ffffff;
}

.top-saler {
  height: 650px;
  background-color: #dfdfdf;
}

.label-top-saler {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #accfe6;
  color: #205aa2;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}

.row-container-top {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.product-card {
  height: 555px;
  width: 23%;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.product-image {
  width: 100%;
  height: 400px;
}

.product-title {
  height: 85px;
  padding: 10px;
  padding-left: 20px;
  text-align: start;
  font-size: 1.2rem;
}

.old-price {
  text-decoration: line-through;
  /* Gạch ngang */
  color: #c5c5c5;
  /* Màu xám cho giá cũ */
  width: 100%;
  padding-left: 22px;

  display: flex;
  align-items: center;
}

.product-price {
  width: 100%;
  height: 25px;
  padding-left: 20px;

  display: flex;
  align-items: center;
}

.new-price {
  color: red;
  /* Màu đỏ cho giá mới */
  font-size: 20px;
  margin-right: 20px;
}

.discount-tag {
  width: 50px;
  height: 30px;
  background-color: rgb(212, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

.container-skill {
  width: 100%;
  background-color: #dfdfdf;
}

.header-skill {
  width: 100%;
  height: 50px;
  background-color: #5f7485;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-weight: bold;
  color: white;
}

.tab{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choosen-tab{
  background:rgb(255, 102, 0);
}

.bottom {
  background-color: #f4f4f4;
  border-radius: 5px;
}

.header-bottom {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #959595;
}

.new-register {
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-header-bottom {
  border-radius: 5px;
  width: 500px;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #206484;

}

.btn-bottom {
  height: 50%;
  border: none;
  border-radius: 5px;
  color: red;
  font-weight: bold;
  font-size: 15px;
  background-color: #f5c92b;
}

.vertical-line {
  width: 0.5px;
  height: 400px;
  /* Chiều cao */
  background-color: black;
  /* Màu sắc */
}

.body-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.container-bottom-option {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}

.bottom-option {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.bottom-text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  color: #021a2d;
  font-weight: bold;
  font-size: 20px;
}

.address {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.content-address {
  color: #205aa2;
  font-weight: bold;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-contact {
  position: absolute;
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  bottom: 150px;
}

.certificate {
  position: absolute;
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 50px;
}

.ship {
  margin-top: 20px;
}

/*Noti dropdown*/
.notiBox {
  max-height: 350px;
  position: absolute;
  top: 64px;
  right: 0px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 400px;
  z-index: 1001;
  overflow: auto;
  color: rgb(75, 75, 75);
}

.notiBoxHeader {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.notiBoxTxtAllNoti {
  font-size: small;
  color: #2e85ff;
}

.notiItem {
  width: 100%;
  height: 100px;
  padding: 15px 20px;
  overflow: hidden;

  text-align: left;
}

.notiItemTitle {
  color: #404040;
  font-weight: bold;
}

/*User dropdown*/
.userBox {
  position: absolute;
  top: 64px;
  right: 0px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 1001;
  color: rgb(145, 145, 145);
}

.userBoxHeader {
  width: 100%;
  height: 60px;
  padding: 0px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.userInfor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: red;

  margin-right: 20px;
}

.userName {
  color: rgb(75, 75, 75);
}

.userItem {
  width: 100%;
  height: 40px;
  padding: 0px 20px;

  display: flex;
  align-items: center;

  text-align: left;
}

.userItem i {
  margin-right: 20px;
}

/*Menu dropdown*/
.menuBox {
  position: absolute;
  top: 50px;
  left: 0px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 1000;

  font-weight: normal;
}

.menuItem {
  padding: 8px 12px;
  cursor: pointer;
  /* border-bottom: 1px solid rgb(174, 174, 174); */
  color: black;
}

.menuItem:hover {
  background: rgb(255, 102, 0);
  color: white;
}

/*SubMenu*/
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  /* Hiện bên phải của li */
  background: rgb(240, 239, 239);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 300px;
  z-index: 1000;
}

.submenu p {
  margin: 0;
  padding: 5px 10px;
  color: black;
  cursor: pointer;
}

.submenu p:hover {
  color: rgb(255, 89, 0);
}

.submenuCaption {
  padding: 0px 10px;

  color: rgb(255, 89, 0);
  font-size: large;

  cursor: default;
}

/*ChatBox*/
.btnChat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 38px;
  z-index: 1000;
  border: none;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom, rgb(13, 215, 255), rgb(47, 16, 247));

  color: white;
  font-size: 25px;
}

.chatBox {
  position: fixed;
  bottom: 10px;
  right: 60px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;

  flex-direction: column;
}

.chatBoxHeader {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: rgb(13, 141, 247);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nội dung chat */
.chatContent {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

/* Input chat */
.chatInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  resize: none;
}